body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1b29;
}

button {
  background: none;
  color: #0077b6;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  border-radius: 0.5em;
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, transform 0.2s;
}

button:hover {
  border-color: #90e0ef;
  color: #caf0f8;
  box-shadow: 0 0.5em 0.5em -0.4em #90e0ef;
  transform: translateY(-0.25em);
  cursor: pointer;
}
