body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1b29;
}

button {
  background: none;
  color: #f4acb7;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
}
